.section {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 22px;
    font-weight: 600;
    padding-top: 1.5rem;
}